* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('assets/thumb-1920-659451.jpg');
  background-repeat: no-repeat;
  color: rgb(92, 92, 92);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgba(226, 248, 255, 0.856);
  padding: 10px 80px;
}

header .h-title {
  font-size: 60px;
  color: #22A8D4;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 5% 3% 5%;
  padding: 2%;
}

.infos {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin-bottom: 2%;
}

.user-info, .region-info {
  background-color: rgba(226, 248, 255, 0.856);
  border-radius: 6px;
  padding: 16px 40px;
}

.user-info {
  justify-content: space-evenly;
  align-self: center;
  width: 50%;
  height: 300px;
  padding: 2%;
}

.region-info {
  margin-top: 30px;
  padding-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
  color: #22A8D4;
  text-align: center;
}

.user {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  list-style: none;
  line-height: 2em;
  padding: 2%;
}

.user li {
  font-size: larger;
  font-weight: bold;
}

#map {
  height: 300px;
  width: 40%;
  border-radius: 6px;
}

.region {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.region li {
  font-size: larger;
  font-weight: bold;
}

.pollu-weath {
  margin-left: 70px;
  font-size: large;
  font-weight: 500;
}

#weather-icon , .pollution {
  margin-top: 20px;
}

.icone {
  border-radius: 40%;
  margin-left: 20px;
  margin-top: 4px;
}

#weather-icon {
  display:flex;
}